/*---------------------------------------------HEADER----------------------------------------------*/
header{
display: flex;
align-items: baseline;
background-color:#010632;
width: 1440px;
height: 65px;
}
.logo{
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
width: 436px;
height: 69px;
color: #FFFFFF;
cursor: pointer;
margin-left: 46px;
}
.stand{
color: #0075FF;
}
.Ukraine{
color: #FFB800;
}
.aboutmoney{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
width: 169px;
height: 29px;
line-height: 35px;
color: #FFFFFF;
margin-left: 138px;
white-space: nowrap;
}
.aboutmoney:hover{
color: #FFB800;
cursor: pointer;
}
.aboutus{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
width: 88px;
height: 29px;
margin-left: 61px;
}
.aboutus:hover{
color: #FFB800;
cursor: pointer;
}
.wastemoney{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
width: 166px;
height: 29px;
margin-left: 47px;
margin-right: 289px;
}
.wastemoney:hover{
    color: #FFB800;
    cursor: pointer;
}
/*---------------------------------------------HERO------------------------------------------------------*/
.heroimg{
width: 1440px;
height: 715px;
}
.herotxt{
    font-family: 'Jost';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 139px;
text-align: center;
width: 1091px;
height: 278px;
color: #0075FF; 
}
.herotxtpart{
color: #FFC700;
}
.herotxt{
position: absolute;
left: 174px;
top: 180px;
cursor: default;
}
/*----------------------------------------------MONEY-------------------------------------------------*/
.money{
    position: absolute;
    width: 1440px;
    height: 461px;
    background-color: #010632;
    margin-top: -3px;
 
}
.moneyh1{
width: 375px;
height: 69px;

    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}
.moneyp{
    width: 414px;
    height: 233px;
    font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

color: #FFFFFF;
}
.imgmoney1{
width: 365px;
height: 251px;
margin-right: 35px;
margin-bottom: 59px;

background: url(630_360_1648446360-268.jpg);
}
.imgmoney2{
width: 265px;
height: 203px;


background: url(Знімок_екрана_з_2022-03-04_23-02-011.png);
}
.aboutmoneydiv{
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin-left: 138px;
    margin-top: 32px;
}
.aboutmoneyimg{
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    margin-left: 85px;
}

/*--------------------------------------------------ABOUT_US----------------------------------------------------*/
.sectionaboutus{
    display: flex;
    justify-content: space-between;
    width: 1440px;
height: 461px;
background: #060D49;
margin-top: 458px;
}
.aboutusimg1{
    aboutusimg1width: 365px;
height: 251px;
margin-top: 34px;
margin-left: 138px;
background: url(1638723318-947.jpg);
}
.aboutusimg2{
width: 265px;
height: 203px;
margin-left:-10px;
margin-top:190px;
background: url(fczh73xs_r_big.jpg.d7d667a29a571a15fa75a8fa8557f6db.jpg);
}
.aboutush{
width: 186px;
height: 69px;
margin-right: -249px;
margin-top: 41px;
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
color: #FFFFFF;
}
.aboutusp{
width: 414px;
height: 233px;
margin-top: 120px;
margin-right: 137px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #FFFFFF;
}
/*------------------------------------------------FUTURE---------------------------------------------*/

.future{
width: 1440px;
height: 773px;
background: #010632;
}
.futureh1{
width: 780px;
height: 138px;
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
text-align: center;
color: #FFFFFF;
margin-left: 331px;
}
.futureimgbox2{
    display: flex;
    width: 364px;
    flex-direction: column;
    margin-left: 36px;
}
.futurebigbox1{
    display: flex;
    width: 364px;
}
.futureimgbox1{
    display: flex;
    margin-top: 21px;
}
.futuresuperbigbox{
    display: flex;
    margin-left: 139px;
    margin-top: 21px;
}
.futureimg1{
width: 364px;
height: 264px;
margin-top: -20px;
}
.futureimg2{
    width: 364px;
    height: 114px;
}
.futureimg3{
width: 364px;
height: 129px;
margin-top: 21px;
}
.futureimg4{
    width: 264px;
    height: 261px;
}
.futureimg5{
    width: 465px;
    height: 264px;
    margin-left: 35px;
}
.futureimg6{
    width: 364px;
    height: 557px;
    margin-left: 36px;
}
/*--------------------------------------------Donate--------------------------------------------*/
.donate{
width: 1440px;
height: 857px;
background: #060D49;
}
.donateh1{
width: 753px;
height: 69px;
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
margin-top: 17px;
color: #FFFFFF;
}
.rectangle{
width: 565px;
height: 0px;
border: 4px solid #FFFFFF;
margin-top: 11px;
}
.donatetext{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.box1{
width: 365px;
height: 487px;
background: #FFFFFF;
display: flex;
margin-left: 35px;
}
.box1img{
width: 335px;
height: 234px;
}
.box1h1{
width: 293px;
height: 69px;
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
color: #000000;
}
.box1p1{
width: 287px;
height: 35px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #000000;
}
.box1p2{
width: 46px;
height: 35px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #000000;
}
.box1btn{
    width: 235px;
    height: 61px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;  
    background-color: #0057FF;
    border-radius: 15px;
    padding-top: 13px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 13px;
    margin-top: 10px;
}
.box1btn:hover{
    background-color: #FFB800;
}
.box1rectangle1{
width: 60px;
height: 0px;
border: 5px solid #FFD600;
}
.box1rectangle2{
width: 158px;
height: 0px;
border: 5px solid #B9B9B9;
transform: rotate(0deg);
border-radius: 5px;
}
.box1box{
    margin-left: 15px;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1rectanglediv{
    display: flex;
}
.box2{
    width: 365px;
    height: 487px;
    background: #FFFFFF;
    display: flex;
    margin-left: 35px;
    }
    .box2img{
    width: 335px;
    height: 234px;
    }
    .box2h1{
    width: 293px;
    height: 69px;
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #000000;
    }
    .box2p1{
    width: 287px;
    height: 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    }
    .box2p2{
    width: 46px;
    height: 35px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    }
    .box2btn{
        width: 235px;
        height: 61px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;  
        background-color: #0057FF;
        border-radius: 15px;
        padding-top: 13px;
        padding-left: 58px;
        padding-right: 58px;
        padding-bottom: 13px;
        margin-top: 10px;
    }
    .box2btn:hover{
        background-color: #FFB800;
    }
    .box2rectangle1{
    width: 60px;
    height: 0px;
    border: 5px solid #FFD600;
    }
    .box2rectangle2{
    width: 158px;
    height: 0px;
    border: 5px solid #B9B9B9;
    transform: rotate(0deg);
    border-radius: 5px;
    }
    .box2box{
        margin-left: 15px;
        margin-top: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box2rectanglediv{
        display: flex;
    }
    .box3{
        width: 365px;
        height: 487px;
        background: #FFFFFF;
        display: flex;
        margin-left: 35px;
        }
        .box3img{
        width: 335px;
        height: 234px;
        }
        .box3h1{
        width: 293px;
        height: 69px;
        font-family: 'Istok Web';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 69px;
        color: #000000;
        }
        .box3p1{
        width: 287px;
        height: 35px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        }
        .box3p2{
        width: 46px;
        height: 35px;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        }
        .box3btn{
            width: 235px;
            height: 61px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFF;  
            background-color: #0057FF;
            border-radius: 15px;
            padding-top: 13px;
            padding-left: 58px;
            padding-right: 58px;
            padding-bottom: 13px;
            margin-top: 10px;
        }
        .box3btn:hover{
            background-color: #FFB800;
        }
        .box3rectangle1{
        width: 60px;
        height: 0px;
        border: 5px solid #FFD600;
        }
        .box3rectangle2{
        width: 158px;
        height: 0px;
        border: 5px solid #B9B9B9;
        transform: rotate(0deg);
        border-radius: 5px;
        }
        .box3box{
            margin-left: 15px;
            margin-top: 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .box3rectanglediv{
            display: flex;
        }
.boxes{
    display:flex;
    margin-left: 138px;
}
/*-------------------------------Footer-----------------------------*/
footer{
width: 1440px;
height: 349px;
background: #010632;
}
.footerlogo{
width: 436px;
height: 69px;
font-family: 'Istok Web';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 69px;
color: #FFFFFF;
margin-left: 502px;
}
nav{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: star;
color: #FFFFFF;
margin-left: 138px;
}
.footerdk{
height: 37px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: center;
margin-top: 80px    ;
}
.footersocial{
width: 99px;
height: 35px;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
margin-left: 320px;


}
.footerdiv{
    display: flex;
}
.inst{
    width: 37px;
height: 37px;
background-color: #FFC700;
padding-top: 14px;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 13px;
margin-left: 318px;
margin-top: 32px;
border-radius: 50%;
}
.face{
    width: 28px;
    height: 37px;   
    background-color: #FFC700;
    padding-top: 13px;
padding-left: 17px;
padding-right: 20px;
padding-bottom: 14px;
border-radius: 50px;
margin-left: 35px;
margin-top: 32px;
}
.twitt{
    width: 37px;
    height: 36px;
    background: #FFC700;
    padding-top: 14px;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 13px;
margin-left: 35px;
margin-top: 32px;
border-radius: 50%;